# ==========================================
# Python
# ==========================================

__pycache__/
*.pyc
*.pyo
*.pyd


# ==========================================
# Terraform
# ==========================================

.terraform/
terraform.tfstate
terraform.tfstate.backup
*.tfvars
*.tfplan


# ==========================================
# AWS / Credenciales
# ==========================================

.aws/
credentials/
secrets/


# ==========================================
# Datos generados (muy pesados)
# ==========================================

data-generation/output/csv/
data-generation/output/parquet/


# ==========================================
# Excel / Credenciales / Archivos sensibles
# ==========================================

*.xlsx
*.xls
*.csv


# ==========================================
# Logs
# ==========================================

*.log


# ==========================================
# Visual Studio Code
# ==========================================

.vscode/


# ==========================================
# Sistema Operativo
# ==========================================

.DS_Store
Thumbs.db


# ==========================================
# Temporales
# ==========================================

temp/
tmp/